<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title-custom">Finalizar</ion-title>
    <ion-radio-group [(ngModel)]="option">
      <ion-row style="display: flex">
        <div class="header-menu">
          <ion-radio mode="md" item-left value="A"></ion-radio>
          <div class="line-1"></div>
          <ion-radio mode="md" item-left value="A"></ion-radio>
          <div class="line-1"></div>
          <ion-radio mode="md" item-left value="A"></ion-radio>
        </div>
      </ion-row>
    </ion-radio-group>


  </ion-toolbar>
</ion-header>

<ion-content>

  
 <div class="text-header">
  <div class="text-left">
    <img src="../../../assets/icon/OinkPolicia.svg">
  </div>
    <div class="text-rigth" >
      <p class="subtitle-custom">ESTAS MUY CERCA DE SER PARTE DE COINK.</p>
      <p class="subtitle-last">Solo es necesario que leas detenidamente el contrato que se encuentra al final de esta pantalla y lo aceptes.</p>
    </div>
 </div>

 <div>
  <hr class="line-2">
 </div>

  <div class="container">
    <div class="body">
      <ion-label class="label-title">LO MÁS IMPORTANTE</ion-label>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p class="paragraph">
              Para la apertura del Depósito de Bajo Monto en COINK debes ser una persona natural que de acuerdo con nuestra legislación vigente te encuentres en plena capacidad para adquirir derechos y contraer obligaciones.
            </p>
          </ion-col>
        </ion-row> 
        <ion-row>
          <ion-col>
            <p class="paragraph">
              Abrirás una cuenta COINK de Bajo Monto la cual te permitirá tener un saldo hasta por 8 salarios mínimos en el mes y realizar débitos por el mismo valor. Si deseas sobrepasar estos límites debes solicitarnos la apertura de un Depósito Ordinario COINK Persona Natural.
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="paragraph">
              Solo puedes tener una cuenta COINK de Bajo Monto y podrás utilizar tu dispositivo móvil para consultar tu saldo, tus movimientos, realizar tus transacciones y administrar tu cuenta.
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="paragraph">
              Recuerda que no necesitas saldo mínimo ni monto inicial para su apertura.
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>   

      <ion-label class="label-subtitle">Lee tu contrato</ion-label>
      <ion-item>
        <ion-label style="color: #004B40; opacity: 0.78;">He leído ya acepto el contrato</ion-label>
        <ion-checkbox
         [(ngModel)]="check" 
         style=" --checkmark-color: white ; margin-right: 8px;" 
          slot="start"></ion-checkbox>
      </ion-item>

      <div style="display: flex; justify-content: center;">
        <ion-button style="height: 46px; width: 85%;" expand="block"  class="btn" color="primary" shape="round" 
        [disabled]="!check"
        (click)="goTo('/home')">
        ACEPTAR
        </ion-button>
      </div>
    </div>

  </div>





</ion-content>