<ion-content>
  <div class="container">
    <div class="header">
      <div class="title">
        <img src="../../../assets/icon/Logo.svg">
      </div>
      <h3>LA ALCANCÍA QUE SIEMPRE <br> TE ACOMPAÑA</h3>
    </div>
    <div class="body">
      <ion-list>
        <div [formGroup]="formGroup">
          <div class="btn-box">
          </div>
        </div>

      </ion-list>

    </div>
    <div class="footer">
      <ion-button expand="block"  class="btn" color="primary" shape="round" (click)="goTo('/register')">
        REGÍSTRATE
      </ion-button>

      <ion-button shape="round" class="btn" color="secondary" 
       >INGRESA</ion-button>
    </div>
  </div>
</ion-content>