ion-content {
  --offset-top: 0px;
  --offset-bottom: 0px;
  --background: #FFFFFF;
  --color: #fff;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px 0;
    .header {
      flex: 1;
      justify-content: center;
      text-align: center;
      padding-top: 30%;
      .title {
        img {
          margin-bottom: 20px;
        }
      }
      h3 {
        color: #1EEA00;
        font-size: 20px;
        margin-bottom: 0;
        font-family: Montserrat;
        font-weight: 600;
      }
      p {
        padding: 0;
        margin: 0;
        opacity: 0.5;
        letter-spacing: 1.5px;
      }
    }
    .body {
      width: 77%;
      flex: 1.5;
      ion-list {
        --background: none;
        background: none;
        margin-bottom: 0 !important;

        ion-item {
          border: 0.8px solid azure;
          --highlight-color-focused: none;
          --background: #14b196;
          border-radius: 50px;
          margin-bottom: 10px;
          height: 50px;
          ion-icon {
            color: #fafafa;
          }
          ion-input {
            --color: #fff;
            --placeholder-opacity: 1;
            text-align: center;
          }
        }
      }
    }
    .footer {
      display: flex;
      width: 90%;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 8%;
    }
  }
}

.btn{
  height: 46px;
}

img {
  width: 150px;
  height: 150px;
}

.btn-box {
  margin: 2rem 0;
}


