


ion-content {
  --offset-top: 0px;
  --offset-bottom: 0px;
  // --background: #4cd2bf;
  // --color: #fff;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 100%;
    padding: 20px 0;
    .header {
      flex: 1;
      justify-content: center;
      text-align: center;
      padding-top: 20px;
      .title {
        img {
          height: 100px;
          width: 100px;
        }
      }
      h3 {
        color: white;
        font-size: 48px;
        margin-bottom: 0;
        letter-spacing: 5px;
      }
      p {
        padding: 0;
        margin: 0;
        opacity: 0.5;
        letter-spacing: 1.5px;
      }
    }
    .body {
      width: 77%;
      flex: 1.5;
      ion-list {
        --background: none;
        background: none;
        margin-bottom: 0 !important;

        ion-item {
          border: 0.8px solid azure;
          --highlight-color-focused: none;
          ion-icon {
            color: grey;
          }
          ion-input {
            --placeholder-color: #004B40;
            --color: grey;
            --placeholder-opacity: 1;
            text-align: center;
            font-size: 23px;
          }
        }
      }
    }
    .footer {
      display: flex;
      justify-content: center;
    }
  }
}

.btn-login {
  width: 98%;
  height: 45px;
}
.btn-box {
  margin: 2rem 0;
}


.line-1 {
  height: 1px;
  width: 20%;
  margin-right: 5px;
  background: lightgrey;
  margin-left: 5px;
}

.header-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-bottom: 7px;

}

.title-custom{
  color: #004B40;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 14px;
  text-transform: uppercase;
  width: 80%;
}

.text-header{
  display: flex;
  padding-top: 10%;
  padding-bottom: 5%;
}

.text-left{
    width: 30%;
    text-align: center;
}

.text-rigth{
  width: 70%;
}

span{
  color: #757575;
  font-weight: 700;
}

.line-2 {
  height: 1px;
  width: 80%;
  margin-right: 30px;
  background: #1EEB00;
  margin-left: 30px;
}

.number-pad{
  color: #004B40;
  font-size: 3rem;
}

.check-false{
  color: #D3D3D3;
  font-size: 3.5rem;
}

.check-true{
  color: #1EEA00;
  font-size: 3.5rem;
}