<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title-custom">Número Celular</ion-title>
    <ion-radio-group [(ngModel)]="miVariable">
      <ion-row style="display: flex">
        <div class="header-menu">
          <ion-radio mode="md" item-left value="A"></ion-radio>
          <div class="line-1"></div>
          <ion-radio mode="md" item-left value="B"></ion-radio>
          <div class="line-1"></div>
          <ion-radio mode="md" item-left value="C"></ion-radio>
        </div>
      </ion-row>
    </ion-radio-group>


  </ion-toolbar>
</ion-header>

<ion-content>

  
 <div class="text-header">
  <div class="text-left">
    <img src="../../../assets/icon/Oink.svg">
  </div>
  <ng-container>
    <div class="text-rigth" *ngIf="!showtemplate">
      <p style="opacity: 0.78;">Para comenzar, por favor <br> ingresa <span> tu número celular.</span></p>
    </div>
  </ng-container>
  <ng-container>
    <div class="text-rigth" *ngIf="showtemplate">
      <p style="opacity: 0.78;">Digíta el código que recibiste vía <span>mensaje de texto  </span>al <br> 
        {{phone}}</p>
    </div>
  </ng-container>

 </div>

 <div>
  <hr class="line-2">
 </div>

  <div class="container">
    <div class="body">
      <ion-list>
        <div [formGroup]="formGroup">
          <ion-item>
            <ng-container>
              <ion-input placeholder="( X X X - X X X X X X )" 
              formControlName="numberpad" *ngIf="!showtemplate"></ion-input>
            </ng-container>
            <ng-container>
              <ion-input placeholder="( X X X X )" 
              formControlName="numberpad" *ngIf="showtemplate"></ion-input>
            </ng-container>
          </ion-item>
        </div>
      </ion-list>
    </div>
  </div>

<!-- PAD NUMBER -->
  <ion-grid style="text-align: center;">
    <ion-row>
      <ion-col>
        <div class="number-pad" (click)="calculator(1)">1</div>
      </ion-col>
      <ion-col>
        <div class="number-pad" (click)="calculator(2)">2</div>
      </ion-col>
      <ion-col>
        <div class="number-pad" (click)="calculator(3)">3</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="number-pad" (click)="calculator(4)">4</div>
      </ion-col>
      <ion-col>
        <div class="number-pad" (click)="calculator(5)">5</div>
      </ion-col>
      <ion-col>
        <div class="number-pad" (click)="calculator(6)">6</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="number-pad" (click)="calculator(7)">7</div>
      </ion-col>
      <ion-col>
        <div class="number-pad" (click)="calculator(8)">8</div>
      </ion-col>
      <ion-col>
        <div class="number-pad" (click)="calculator(9)">9</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="number-pad" (click)="remover()" *ngIf="!showtemplate"> 
          <ion-icon src="../../../assets/icon/Backspace.svg"></ion-icon>
         </div>
      </ion-col>
      <ion-col>
        <div class="number-pad" (click)="calculator(0)">0</div>
      </ion-col>
      <ion-col>
        <div  [ngClass]="showbutton == true ? 'check-true' : 'check-false'"
          (click)="approve()" *ngIf="!showtemplate"> 
          <ion-icon name="checkmark-circle"></ion-icon>
         </div>
         <div class="number-pad" (click)="remover()" *ngIf="showtemplate"> 
          <ion-icon src="../../../assets/icon/Backspace.svg"></ion-icon>
         </div>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>