<ion-header >
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button class="white" (click)="goTo('/profile')">
        <ion-icon slot="icon-only" ios="person" md="person"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Coink  Home</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label color="secondary" class="title-person">Datos de usuarios</ion-label>

          <div class="center-data">
            <p>  Contraseña : {{persona.password}}  </p>
            <p>  Numero Documentos : {{persona.number_document}}  </p>
            <p>  Fecha Nacimiento : {{persona.date_birth}}  </p>
            <p>  Fecha Expedición : {{persona.date_issue}}  </p>
            <p>  Email : {{persona.email}}  </p>
            <p>  Genero : {{persona.gender}}  </p>
            <p>  Tipo Documento : {{persona.type_document}}  </p>
            <p>  Verificacion id : {{token.verification_id}}  </p>

          </div>

        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>