// COLORS
$color-primary: #003e83;
$color-secondary: #f5b224;
$color-tertiary-light: #e3e3e3;
$color-tertiary-dark: #d6d6d6;
$color-base: #ffffff;

ion-toolbar {
  --background: #4cd2bf;
  padding-bottom: 0.5rem;
}



ion-title {
  text-align: center;
  color: white;
}

.white {
  --color: white;
}

ion-list {
  --background: none;
  background: none;
  margin-bottom: 0 !important;

  ion-thumbnail {
    margin: 0px;
    margin-left: 8px;
  }

  ion-item {
    --background: white;
    margin-bottom: 0px;
    --inner-padding-end: 0px;
    --padding-start: 0px;
    padding: 0px 10px;
    --border-radius: 12px;
  }
}

.number {
  font-size: 1rem;
  padding: 5px;
  margin-left: 14px;
  line-height: 12px;
}

.title {
  font-size: 14px;
  color: #4cd2bf;
  margin-left: 14px;
  margin-right: 45px;
}

.title-person {
  font-size: 24px;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.bar-custom {
  color: #4cd2bf;
  --bar-background-active: #4cd2bf;
  --knob-size: 12px;
  padding: 0;
  width: 94%;
  padding-left: 10px;
  --bar-height: 4px;
  .disabled {
    color: #4cd2bf;
    --bar-background-active: #4cd2bf;
  }
}

.margin-remove-bottom {
  margin-bottom: 0;
}

.img-thumbnail-custom {
  height: 75px;
  width: 70px;
  --border-radius: 14px;
}

.custom-progress {
  --background: #4cd2bf;
  opacity: 0.2;
}

ion-grid {
  padding: 0;
}
ion-col {
  padding: 0;
}

ion-row {
  padding: 0;
}

.custom-fab{
    float: right;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-bottom: 5px;
    margin-right: 15px;
}

.center-data{
  text-align: center;
  margin-top: 2rem;
  p{
    font-size: 15px;
  }
}