<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title-custom">Datos de Cuenta</ion-title>
    <ion-radio-group [(ngModel)]="option">
      <ion-row style="display: flex">
        <div class="header-menu">
          <ion-radio mode="md" item-left value="A"></ion-radio>
          <div class="line-1"></div>
          <ion-radio mode="md" item-left value="A"></ion-radio>
          <div class="line-1"></div>
          <ion-radio mode="md" item-left value="C"></ion-radio>
        </div>
      </ion-row>
    </ion-radio-group>


  </ion-toolbar>
</ion-header>

<ion-content>

  
 <div class="text-header">
  <div class="text-left">
    <img src="../../../assets/icon/Oink-M.svg">
  </div>
    <div class="text-rigth" >
      <p class="subtitle-custom">¿CUÁLES SON TUS DATOS?</p>
      <p class="subtitle-last">Ahora necesitamos saber <br>algunos datos tuyos</p>
    </div>
 </div>

 <div>
  <hr class="line-2">
 </div>

  <div class="container">
    <div class="body">
      <ion-list lines="full" class="ion-no-margin" [formGroup]="formGroup">
        <!-- 1 -->
        <ion-list-header lines="none">
          <ion-label class="title-form"> Documento de identidad </ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Tipo de documento</ion-label>
          <ion-select  formControlName="type_document" interface="popover" mode="ios"
          [interfaceOptions]="{'cssClass': 'mycomponent-wider-popover'}">
          <ion-select-option *ngFor="let item of document" value="{{item.id}}">
            {{ item.description }}
          </ion-select-option>
          </ion-select>
        </ion-item>


        <ion-item>
          <ion-label position="floating">Número de documento</ion-label>
          <ion-input type="number" formControlName="number_document"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Fecha de expedición del documento</ion-label>
          <ion-input type="date" formControlName="date_issue"   max="9999-12-31"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Fecha de nacimiento</ion-label>
          <ion-input type="date" formControlName="date_birth"    max="9999-12-31"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Genero</ion-label>
          <ion-select  formControlName="gender" interface="popover" mode="ios"
          [interfaceOptions]="{'cssClass': 'mycomponent-wider-popover'}">
          <ion-select-option *ngFor="let item of gender" value="{{item.id}}">
            {{ item.name }}
          </ion-select-option>
          </ion-select>
        </ion-item>

        <!-- 2 -->
        <ion-list-header lines="none">
          <ion-label class="title-form" style="margin-top: 2rem;"> Configura tu cuenta </ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar correo electrónico</ion-label>
          <ion-input type="email" formControlName="confirm_email"></ion-input>
          <ion-icon [hidden]='CheckControl' 
           style="display: flex; align-self: center; color: #1EEA00;" 
           name="checkmark-outline" slot="end"></ion-icon>
        </ion-item>


        <ion-item>
          <ion-label position="floating">PIN de seguridad</ion-label>
          <ion-input  [type]="inputType"    formControlName="password"></ion-input>
          <ion-icon  style="display: flex; align-self: center;" 
          [name]="(inputType == 'password') ? 'eye' : 'eye-off'" slot="end" 
          (click)="inputType = (inputType == 'password') ? 'text' : 'password';"></ion-icon>

        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar PIN de seguridad</ion-label>
          <ion-input formControlName="confirm_password" [type]="inputType2"  type="password"></ion-input>
          <ion-icon  style="display: flex; align-self: center;"  [name]="(inputType2 == 'password') ? 'eye' : 'eye-off'" slot="end" 
          (click)="inputType2 = (inputType2 == 'password') ? 'text' : 'password';"></ion-icon>
        </ion-item>



      </ion-list>
      <div style="display: flex; justify-content: center;">
        <ion-button style="height: 46px; width: 85%;" expand="block"  class="btn" 
        color="primary" shape="round" (click)="sendForm()" 
        [disabled]="this.formGroup.status == 'INVALID'">
          SIGUIENTE
        </ion-button>
      </div>

    </div>

  </div>





</ion-content>