/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.my-custom-class{
    h2{
       text-align: center;
       margin: 0 auto;
       display: block;
       color: #F44336 !important;
    }

    div{
        text-align: center;
        color: #212121 !important;
        border-radius: 8px !important;
     }

    button{
      color: #004B40 !important;
      margin: 0 auto !important;
    }
 }

 .my-custom-class2{
    h2{
       text-align: center;
       margin: 0 auto;
       display: block;
       font-size: 25px !important;
       color: #004B40 !important;
    }

    div{
        text-align: center;
        color: #212121 !important;
        border-radius: 8px !important;
     }

    button{
        color: #004B40 !important;
        background: #1EEA00 !important;
        padding-left: 5rem !important;
        padding-right: 5rem !important;
        border-radius: 30px !important;
    }
 }